<!--
  ToxCalc! by Safe Dose © 2018-2021. See LICENSE file for details.
  SPDX-License-Identifier: GPL-3.0-or-later
-->

<div class="d-flex flex-row align-items-center p-2 bg-light border-top border-bottom lead">
  <div class="container">
    <a class="text-decoration-none" routerLink="/">
      <span class="mr-3 btn btn-outline-primary btn-lg rounded-circle" style="font-size: 1.8rem">
        <fa-icon [icon]="['fas', 'calculator']"></fa-icon>
      </span>
    </a>
    <a class="text-decoration-none" routerLink="/">
      <b>See all our calculators.</b>
    </a>
  </div>
</div>
