<div class="container-fluid bg-light border-top border-bottom">
  <h1 class="my-3 container display-4">Multidirectional Human Health Risk Assessment Calculators</h1>
  <sd-product-list>
    <sd-product-list-item routerLink="TotalDoseCalc">
      <ng-template sdProductListTitle>Total Dose Conversion Calculator</ng-template>
      <ng-template sdProductListDescription>
        Convert between concentration and dose. Calculator can be used for liquids in liquids (e.g. ethanol in water), solids in liquids (e.g. sugar in water) or solids in solids (e.g. sugar in flour).
      </ng-template>
    </sd-product-list-item>
    <sd-product-list-item routerLink="InhaleCalc">
      <ng-template sdProductListTitle>Inhalation Dose Calculators</ng-template>
      <ng-template sdProductListDescription>
         Convert ppm or % in air to mg/m³. Convert mg/m³ to dose in mg/kg body weight.
      </ng-template>
    </sd-product-list-item>
    <sd-product-list-item routerLink="HumanCalc">
      <ng-template sdProductListTitle>Human Equivalent Dose Conversion Calculators</ng-template>
      <ng-template sdProductListDescription>
         Convert a dose in animals to a dose in humans.
      </ng-template>
    </sd-product-list-item>
    <sd-product-list-item routerLink="BioavailCalc">
      <ng-template sdProductListTitle>Relative Bioavailability Correction</ng-template>
      <ng-template sdProductListDescription>
        Calculates the modifying factor necessary when route to route extrapolation is required for the PDE calculation.
      </ng-template>
    </sd-product-list-item>
  </sd-product-list>
</div>
