<sd-return-to-calculators></sd-return-to-calculators>
<div class="container py-3">
  <p class="lead font-weight-bold">
    Health-Based Exposure Limit for Pharmaceuticals
  </p>
  <p>This is a MULTIDIRECTIONAL calculator. <u>Leave any <b>one</b> field blank and hit Calculate!</u> It will calculate the missing field for you.</p>
  <form class="mb-3" autocomplete="off" novalidate (change)="bcfForm.formChange()">
    <sd-calc-row #bioavailabilityPDERow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="bioavailabilityPDE">
        {{bioavailabilityPDE.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="bioavailabilityPDE"
          sdInputPosNum
          (blur)="bcfForm.inputBlur()"
          (focus)="bcfForm.inputFocus($event.target)"
          [readonly]="bioavailabilityPDE.readOnly"
          [(ngModel)]="bioavailabilityPDE.value"
          [ngModelOptions]="{standalone: true}"
          #bioavailabilityPDEInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #bioavailabilityCriticalStudyRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="bioavailabilityCriticalStudy">
        {{bioavailabilityCriticalStudy.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="bioavailabilityCriticalStudy"
          sdInputPosNum
          (blur)="bcfForm.inputBlur()"
          (focus)="bcfForm.inputFocus($event.target)"
          [readonly]="bioavailabilityCriticalStudy.readOnly"
          [(ngModel)]="bioavailabilityCriticalStudy.value"
          [ngModelOptions]="{standalone: true}"
          #bioavailabilityCriticalStudyInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #alphaRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="alpha">
        {{alpha.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="alpha"
          sdInputPosNum
          (blur)="bcfForm.inputBlur()"
          (focus)="bcfForm.inputFocus($event.target)"
          [readonly]="alpha.readOnly"
          [(ngModel)]="alpha.value"
          [ngModelOptions]="{standalone: true}"
          #alphaInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-internal-calc-error [errorText]="bcfForm.internalError"></sd-internal-calc-error>
    <div class="form-group form-row ml-0">
      <button class="btn btn-primary mr-3" (click)="bcfForm.calculateAndLog(calculationLog)" [disabled]="bcfForm.internalError">Convert!</button>
      <button class="btn btn-secondary" (click)="bcfForm.clear()">Clear</button>
    </div>
  </form>
  <p>The above calculations are based on the following equation:</p>
  <p [sdKatex]="bcfForm.equationSnippet"></p>
  <hr>
  <form class="mb-3" autocomplete="off" novalidate (change)="pdeForm.formChange()">
    <div class="form-group form-row m-0">
      <legend class="p-0">Step 1</legend>
    </div>
    <sd-calc-row #effectLimitRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="effectLimit">
        {{effectLimit.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="effectLimit"
          sdInputPosNum
          (blur)="pdeForm.inputBlur()"
          (focus)="pdeForm.inputFocus($event.target)"
          [readonly]="effectLimit.readOnly"
          [(ngModel)]="effectLimit.value"
          [ngModelOptions]="{standalone: true}"
          #effectLimitInput
          />
        <div class="input-group-append">
          <sd-select name="effectLimitUnits" #effectLimitUnits (change)="changeUnits();">
            <option *ngFor="let unit of iterUnits(effectLimit.UNITS)" [label]="unit" [value]="effectLimit.UNITS[unit]">
          </sd-select>
        </div>
      </ng-template>
    </sd-calc-row>
    <div class="form-group form-row m-0">
      <legend class="p-0">Step 2</legend>
    </div>
    <sd-calc-row #bodyWeightRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="bodyWeight">
        {{bodyWeight.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="bodyWeight"
          sdInputPosNum
          (blur)="pdeForm.inputBlur()"
          (focus)="pdeForm.inputFocus($event.target)"
          [readonly]="bodyWeight.readOnly"
          [(ngModel)]="bodyWeight.value"
          [ngModelOptions]="{standalone: true}"
          #bodyWeightInput
          />
        <div class="input-group-append">
          <span class="input-group-text">kg</span>
        </div>
      </ng-template>
    </sd-calc-row>
    <div class="form-group form-row m-0">
      <legend class="p-0">Modifying factors</legend>
    </div>
    <sd-calc-row #speciesRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="species">
        {{species.label}}
      </ng-template>
      <ng-template sdCalcRowInput sdCustomRowInput="true">
        <div>
          <div class="form-check" *ngFor="let item of species.options; index as i">
            <input type="radio" name="speciesGroup" class="form-check-input" [id]="'speciesGroup' + i" [(ngModel)]="species.selected" [ngModelOptions]="{standalone: true}" [value]="i" [disabled]="species.output" (click)="speciesClick(i)">
            <label class="form-check-label" [for]="'speciesGroup' + i">{{item.value}}: {{item.label}}</label>
          </div>
          <div class="form-check">
            <input type="radio" name="speciesGroup" class="form-check-input" id="speciesCustom" [(ngModel)]="species.selected" [ngModelOptions]="{standalone: true}" value="custom" checked [disabled]="species.output" (click)="speciesClickCustom()">
            <label class="form-check-label" for="speciesCustomName">custom species name:</label>
            <div class="form-inline">
              <div class="input-group">
                <input
                  class="form-control"
                  id="speciesCustomName"
                  [disabled]="!species.custom"
                  [(ngModel)]="species.customSpeciesName"
                  [ngModelOptions]="{standalone: true}"
                  />
              </div>
            </div>
            <label class="form-check-label" for="speciesCustom">with factor:</label>
            <div class="form-inline">
              <div class="input-group">
                <input
                  class="form-control"
                  id="speciesCustom"
                  sdInputPosNum
                  (blur)="pdeForm.inputBlur()"
                  (focus)="pdeForm.inputFocus($event.target)"
                  [readonly]="species.output"
                  [disabled]="!species.custom"
                  [(ngModel)]="species.customValue"
                  [ngModelOptions]="{standalone: true}"
                  #speciesInput
                  />
                <div class="invalid-tooltip d-block" *ngIf="speciesRow.errorText">
                  {{speciesRow.errorText}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #safetyFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="safetyFactor">
        {{safetyFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="safetyFactor"
          sdInputPosNum
          (blur)="pdeForm.inputBlur()"
          (focus)="pdeForm.inputFocus($event.target)"
          [readonly]="safetyFactor.readOnly"
          [(ngModel)]="safetyFactor.value"
          [ngModelOptions]="{standalone: true}"
          value="10"
          #safetyFactorInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #studyDurationFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="studyDurationFactor">
        {{studyDurationFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput sdCustomRowInput="true">
        <div>
          <div class="form-check" *ngFor="let item of (isMouseOrRat ? studyDurationFactor.mouseOrRatOptions : studyDurationFactor.notMouseOrRatOptions); index as i">
            <input type="radio" name="studyDurationFactorGroup" class="form-check-input" [id]="'studyDurationFactorGroup' + i" [(ngModel)]="studyDurationFactor.selected" [ngModelOptions]="{standalone: true}" [value]="i" [disabled]="studyDurationFactor.output" (click)="studyDurationFactorClick(item.value)">
            <label class="form-check-label" [for]="'studyDurationFactorGroup' + i">{{item.value}}: {{item.label}}</label>
          </div>
          <div class="form-check">
            <input type="radio" name="studyDurationFactorGroup" class="form-check-input" id="studyDurationFactorGroupCustom" [(ngModel)]="studyDurationFactor.selected" [ngModelOptions]="{standalone: true}" value="custom" checked [disabled]="studyDurationFactor.output" (click)="studyDurationFactorClickCustom()">
            <label class="form-check-label" for="studyDurationFactorGroupCustom">custom value:</label>
            <div class="form-inline">
              <div class="input-group">
                <input
                  class="form-control"
                  id="studyDurationFactorCustom"
                  sdInputPosNum
                  (blur)="pdeForm.inputBlur()"
                  (focus)="pdeForm.inputFocus($event.target)"
                  [readonly]="studyDurationFactor.output"
                  [disabled]="!studyDurationFactor.custom"
                  [(ngModel)]="studyDurationFactor.customValue"
                  [ngModelOptions]="{standalone: true}"
                  #studyDurationFactorInput
                  />
                <div class="invalid-tooltip d-block" *ngIf="studyDurationFactorRow.errorText">
                  {{studyDurationFactorRow.errorText}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #severeToxicityFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="severeToxicityFactor">
        {{severeToxicityFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput sdCustomRowInput="true">
        <div>
          <div class="form-check" *ngFor="let item of severeToxicityFactor.options; index as i">
            <input type="radio" name="severeToxicityFactorGroup" class="form-check-input" [id]="'severeToxicityFactorGroup' + i" [(ngModel)]="severeToxicityFactor.selected" [ngModelOptions]="{standalone: true}" [value]="i" checked [disabled]="severeToxicityFactor.output" (click)="severeToxicityFactorClick(item.value)">
            <label class="form-check-label" [for]="'severeToxicityFactorGroup' + i">{{item.value}}: {{item.label}}</label>
          </div>
          <div class="form-check">
            <input type="radio" name="severeToxicityFactorGroup" class="form-check-input" id="severeToxicityGroupCustom" [(ngModel)]="severeToxicityFactor.selected" [ngModelOptions]="{standalone: true}" value="custom" [disabled]="severeToxicityFactor.output" (click)="severeToxicityFactorClickCustom()">
            <label class="form-check-label" for="severeToxicityGroupCustom">custom value:</label>
            <div class="form-inline">
              <div class="input-group">
                <input
                  class="form-control"
                  id="severeToxicityFactorCustom"
                  sdInputPosNum
                  (blur)="pdeForm.inputBlur()"
                  (focus)="pdeForm.inputFocus($event.target)"
                  [readonly]="severeToxicityFactor.output"
                  [disabled]="!severeToxicityFactor.custom"
                  [(ngModel)]="severeToxicityFactor.customValue"
                  [ngModelOptions]="{standalone: true}"
                  #severeToxicityInput
                  />
                <div class="invalid-tooltip d-block" *ngIf="severeToxicityFactorRow.errorText">
                  {{severeToxicityFactorRow.errorText}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #noNoelFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="noNoelFactor">
        {{noNoelFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="noNoelFactor"
          sdInputPosNum
          (blur)="pdeForm.inputBlur()"
          (focus)="pdeForm.inputFocus($event.target)"
          [readonly]="noNoelFactor.readOnly"
          [(ngModel)]="noNoelFactor.value"
          [ngModelOptions]="{standalone: true}"
          #noNoelFactorInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #pdeAlphaRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="pdeAlpha">
        {{pdeAlpha.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="pdeAlpha"
          sdInputPosNum
          (blur)="pdeForm.inputBlur()"
          (focus)="pdeForm.inputFocus($event.target)"
          [readonly]="pdeAlpha.readOnly"
          [(ngModel)]="pdeAlpha.value"
          [ngModelOptions]="{standalone: true}"
          #pdeAlphaInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #pdeRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="pde">
        {{pde.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="pde"
          sdInputPosNum
          (blur)="pdeForm.inputBlur()"
          (focus)="pdeForm.inputFocus($event.target)"
          [readonly]="pde.readOnly"
          [(ngModel)]="pde.value"
          [ngModelOptions]="{standalone: true}"
          #pdeInput
          />
        <sd-select name="pdeUnits" #pdeUnits (change)="changeUnits();">
          <option *ngFor="let unit of iterUnits(pde.UNITS)" [label]="unit" [value]="pde.UNITS[unit]">
        </sd-select>
      </ng-template>
    </sd-calc-row>
    <sd-internal-calc-error [errorText]="pdeForm.internalError"></sd-internal-calc-error>
    <div class="form-group form-row ml-0">
      <button class="btn btn-primary mr-3" (click)="pdeForm.calculateAndLog(calculationLog)" [disabled]="pdeForm.internalError">Convert!</button>
      <button class="btn btn-secondary" (click)="pdeForm.clear()">Clear</button>
    </div>
  </form>
  <p>The above calculations are based on the following equation:</p>
  <p [sdKatex]="pdeForm.equationSnippet"></p>
  <sd-calculation-log #calculationLog></sd-calculation-log>
</div>
