<sd-return-to-calculators></sd-return-to-calculators>
<div class="container py-3">
  <p class="lead font-weight-bold">
    Health-Based Exposure Limit for Pharmaceuticals
  </p>
  <p>This is a MULTIDIRECTIONAL calculator. <u>Leave any <b>one</b> field blank and hit Calculate!</u> It will calculate the missing field for you.</p>
  <form class="mb-3" autocomplete="off" novalidate (change)="form.formChange()">
    <sd-calc-row #effectLimitRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="effectLimit">
        {{effectLimit.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="effectLimit"
          sdInputPosNum
          (blur)="form.inputBlur()"
          (focus)="form.inputFocus($event.target)"
          [readonly]="effectLimit.readOnly"
          [(ngModel)]="effectLimit.value"
          [ngModelOptions]="{standalone: true}"
          #effectLimitInput
          />
        <div class="input-group-append">
          <span class="input-group-text">mg/kg BW/day</span>
        </div>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #bodyWeightRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="bodyWeight">
        {{bodyWeight.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="bodyWeight"
          sdInputPosNum
          (blur)="form.inputBlur()"
          (focus)="form.inputFocus($event.target)"
          [readonly]="bodyWeight.readOnly"
          [(ngModel)]="bodyWeight.value"
          [ngModelOptions]="{standalone: true}"
          #bodyWeightInput
          />
        <div class="input-group-append">
          <span class="input-group-text">kg</span>
        </div>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #speciesRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="species">
        {{species.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <sd-select id="species" (change)="changeSpecies()" #speciesSelect>
          <option *ngFor="let species of speciesOptions" [label]="species.species" [value]="species"></option>
        </sd-select>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #safetyFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="safetyFactor">
        {{safetyFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <!-- TODO: allow negative values! -->
        <input
          class="form-control"
          id="safetyFactor"
          (blur)="form.inputBlur()"
          (focus)="form.inputFocus($event.target)"
          [readonly]="safetyFactor.readOnly"
          [(ngModel)]="safetyFactor.value"
          [ngModelOptions]="{standalone: true}"
          value="10"
          #safetyFactorInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #studyDurationFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="studyDurationFactor">
        {{studyDurationFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <sd-select id="studyDurationFactor" (change)="changeStudyDurationFactor()" #studyDurationFactorSelect>
          <option label="whole period of organogenesis in a reproductive study" value="1"></option>
          <option [label]="isMouseOrRat ? 'a 6-month study' : 'a 3.5-year study'" value="2"></option>
          <option [label]="isMouseOrRat ? 'a 3-month study' : 'a 2-year study'" value="5"></option>
          <option label="shorter duration studies" value="10"></option>
        </sd-select>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #severeToxicityFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="severeToxicityFactor">
        {{severeToxicityFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <sd-select id="severeToxicityFactor" (change)="changeSevereToxicityFactor()" #severeToxicityFactorSelect>
          <option label="fetal toxicity associated with maternal toxicity" value="1"></option>
          <option label="fetal toxicity without maternal toxicity" value="5"></option>
          <option label="teratogenic effect with maternal toxicity" value="5"></option>
          <option label="teratogenic effect without maternal toxicity" value="10"></option>
        </sd-select>
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #noNoelFactorRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="noNoelFactor">
        {{noNoelFactor.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="noNoelFactor"
          sdInputPosNum
          (blur)="form.inputBlur()"
          (focus)="form.inputFocus($event.target)"
          [readonly]="noNoelFactor.readOnly"
          [(ngModel)]="noNoelFactor.value"
          [ngModelOptions]="{standalone: true}"
          #noNoelFactorInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #pdeRow>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="pde">
        {{pde.label}}
      </ng-template>
      <ng-template sdCalcRowInput>
        <input
          class="form-control"
          id="pde"
          sdInputPosNum
          (blur)="form.inputBlur()"
          (focus)="form.inputFocus($event.target)"
          [readonly]="pde.readOnly"
          [(ngModel)]="pde.value"
          [ngModelOptions]="{standalone: true}"
          #pdeInput
          />
      </ng-template>
    </sd-calc-row>
    <sd-internal-calc-error [errorText]="form.internalError"></sd-internal-calc-error>
    <div class="form-group form-row ml-0">
      <button class="btn btn-primary mr-3" (click)="form.calculateAndLog(calculationLog)" [disabled]="form.internalError">Convert!</button>
      <button class="btn btn-secondary" (click)="form.clear()">Clear</button>
    </div>
  </form>
  <p>The above calculations are based on the following equation:</p>
  <p [sdKatex]="form.equationSnippet"></p>
  <sd-calculation-log #calculationLog></sd-calculation-log>
</div>
