<sd-return-to-calculators></sd-return-to-calculators>
<div class="container py-3">
  <p class="lead font-weight-bold">Total Dose Conversion Calculator</p>
  <p class="mb-4">This calculator is designed to only be used for homogenous (i.e. uniform) chemical mixtures. It should not be used for radionuclides.</p>
  <form autocomplete="off" novalidate (change)="formChange()">
    <sd-calc-row #concen>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="concen">
        Concentration
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="concen" id="concen" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #concenInput>
        <sd-select name="concen-units" #concenUnits (change)="changeUnits(); formChange();">
          <optgroup label="mass/volume">
            <option *ngFor="let unit of iterUnits(CONCEN_UNITS, MASS_VOLUME)" [label]="unit"></option>
          </optgroup>
          <optgroup label="volume/volume">
            <option label="mL/L"></option>
            <option label="µL/L"></option>
            <option label="µL/mL"></option>
            <option label="ppm (v/v)"></option>
            <option label="ppb (v/v)"></option>
            <option label="% (v/v)"></option>
          </optgroup>
          <optgroup label="mol/volume">
            <option *ngFor="let unit of iterUnits(CONCEN_UNITS, MOL_VOLUME)" [label]="unit"></option>
          </optgroup>
          <optgroup label="mol/mass">
            <option *ngFor="let unit of iterUnits(CONCEN_UNITS, MOL_MASS)" [label]="unit"></option>
          </optgroup>
          <optgroup label="mass/mass">
            <option label="mg/kg"></option>
            <option label="µg/kg"></option>
          </optgroup>
        </sd-select>
      </ng-template>
      <ng-template sdCalcRowHelp>
        <b>Concentration</b> is the amount of one substance present in another substance. In other words, it is the amount of a substance present in a mixture that contains at least two substances. Commonly, these mixtures are solutions. Concentration can be used to express the amount of any substance in any media. Examples of media that are relevant to human or environmental health include food, soil, water, air, bodily fluids, tissues, pharmaceuticals and consumer products.
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #intake>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="intake">
        Intake
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="intake" id="intake" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #intakeInput>
        <sd-select name="intake-units" #intakeUnits (change)="changeUnits(); formChange()">
          <optgroup label="volume/time">
            <option *ngFor="let unit of iterUnits(INTAKE_UNITS, VOLUME_TIME)" [label]="unit"></option>
          </optgroup>
          <optgroup label="mass/time">
            <option *ngFor="let unit of iterUnits(INTAKE_UNITS, MASS_TIME)" [label]="unit"></option>
          </optgroup>
        </sd-select>
      </ng-template>
      <ng-template sdCalcRowHelp>
        <b>Intake</b> is the amount of the total mixture being consumed in a day.
      </ng-template>
    </sd-calc-row>
    <sd-calc-row [sdShow]="substanceDensityShow" #substanceDensity>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="substanceDensity">
        Substance density
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="substanceDensity" id="substanceDensity" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #substanceDensityInput>
        <div class="input-group-append">
          <span class="input-group-text">g/mL</span>
        </div>
      </ng-template>
      <ng-template sdCalcRowHelp>
        <b>Substance density</b> is the density of the substance or chemical of interest. It is the chemical that is present in a small amount that is being added to the solvent or media which is present in large amount.
      </ng-template>
    </sd-calc-row>
    <sd-calc-row [sdShow]="molarMassShow" #molarMass>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="molarMass">
        Molar mass of substance
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="molarMass" id="molarMass" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #molarMassInput>
        <div class="input-group-append">
          <span class="input-group-text">g/mol</span>
        </div>
      </ng-template>
      <ng-template sdCalcRowHelp>
        <b>Molar mass</b> is the mass of a given substance divided by the amount of substance.
      </ng-template>
    </sd-calc-row>
    <sd-calc-row [sdShow]="solutionDensityShow" #solutionDensity>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="solutionDensity">
        Solvent or media density
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="solutionDensity" id="solutionDensity" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #solutionDensityInput>
        <div class="input-group-append">
          <span class="input-group-text">g/mL</span>
        </div>
     </ng-template>
      <ng-template sdCalcRowHelp>
        <b>Solvent or media density</b> is the density of the chemical present in mixture in the larger amount. Note that the density of water is 1 g/mL, and for very dilute aqueous solutions, the density of water can be used as a surrogate.
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #bodyWeight>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="bodyWeight">
        Body weight
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="bodyWeight" id="bodyWeight" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #bodyWeightInput>
        <sd-select name="bodyWeight-units" #bodyWeightUnits (change)="changeUnits(); formChange()">
          <option label="kg"></option>
          <option label="g"></option>
        </sd-select>
      </ng-template>
      <ng-template sdCalcRowHelp>
        The <b>weight</b> of the animal or human consuming the substance.
      </ng-template>
    </sd-calc-row>
    <sd-calc-row #dose>
      <ng-template sdCalcRowLabel sdCalcRowLabelFor="dose">
        Dose
      </ng-template>
      <ng-template sdCalcRowInput>
        <input class="form-control" name="dose" id="dose" sdInputPosNum (focus)="inputFocus($event.target)" (blur)="inputBlur()" #doseInput>
        <sd-select name="dose-units" #doseUnits (change)="changeUnits(); formChange()">
          <option *ngFor="let unit of iterUnits(DOSE_UNITS)" [label]="unit"></option>
        </sd-select>
      </ng-template>
      <ng-template sdCalcRowHelp>
        The <b>dose</b> is the amount of a substance administered to or received by the animal or human in a day.
      </ng-template>
    </sd-calc-row>

    <div class="form-row">
      <ngb-alert *ngIf="underConstructionShow" [dismissible]="false" type="warning" class="w-100"><strong class="mr-2">Sorry!</strong>Calculation with these units is not supported.</ngb-alert>
    </div>

    <div class="form-row">
      <ngb-alert *ngIf="internalError" [dismissible]="false" type="danger" class="w-100">
        <p class="lead">Internal calculator error!</p>
        <!-- Yes, this is an abuse of 'kbd', but the visual style is right. -->
        <p class="px-3"><kbd>{{internalError}}</kbd></p>
        <p class="mb-0">Click <strong>Clear</strong> to clear this error and reset the form.</p></ngb-alert>
    </div>

    <div class="form-row">
      <button type="button" class="btn btn-primary mr-3" (click)="updateErrors(true)" [disabled]="underConstructionShow || internalError">Calculate!</button>
      <button type="reset" class="btn btn-secondary" (click)="clear()">Clear</button>
    </div>
  </form>
  <p class="mt-3">To get the molar mass, add the atomic weights of all atoms in the substance. To find the atomic weights, you may use the <a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/File:Periodic_Table_Of_Elements.svg">Periodic Table</a> or look up the molar mass from a trusted source <a rel="noopener" target="_blank" href="https://chem.nlm.nih.gov/chemidplus/">ChemIDPlus</a>.</p>
  <p>The above calculations are based on the following equation:</p>
  <p class="ml-5" [innerHTML]="equationSnippet"></p>
  <p>where</p>
  <ul>
    <li>C represents Concentration
    <li>IR represents Intake rate
    <li *ngIf="substanceDensityShow">SD represents Substance density
    <li *ngIf="molarMassShow">MM represents Molar mass
    <li *ngIf="solutionDensityShow">MD represents Solution or media density
    <li>BW represents Body weight
    <li>D represents Dose
  </ul>

</div>
