<!--
  ToxCalc! by Safe Dose © 2018-2021. See LICENSE file for details.
  SPDX-License-Identifier: GPL-3.0-or-later
-->

<div class="container py-3">
  <p class="lead font-weight-bold">
    Relative Bioavailability Correction
  </p>
  <ngb-alert type="info" [dismissible]="false">This is a MULTIDIRECTIONAL calculator. <u>Leave any <b>one</b> field blank and hit Calculate!</u> It will calculate the missing field for you.</ngb-alert>
  <div class="card w-100 mb-3">
    <div class="card-body">
      <form autocomplete="off" novalidate>
        <sd-calc-row #bioavailabilityPDERow>
          <ng-template sdCalcRowLabel sdCalcRowLabelFor="bioavailabilityPDE">
            {{bioavailabilityPDE.label}}
          </ng-template>
          <ng-template sdCalcRowInput>
            <input
              [ngClass]="{'form-control': true, 'output': bioavailabilityPDE.isMarkedAsOutput()}"
              id="bioavailabilityPDE"
              sdInputPosNumLeft
              (input)="bcfForm.calculate()"
              [readonly]="bioavailabilityPDE.isMarkedAsOutput()"
              [(ngModel)]="bioavailabilityPDE.value"
              [ngModelOptions]="{standalone: true}"
              #bioavailabilityPDEInput
              />
          </ng-template>
          <ng-template sdCalcRowHelp>
            This is the % bioavailability for the intended route of exposure via the PDE. If there is uncertainty regarding this value, 100% should be assumed.
          </ng-template>
        </sd-calc-row>
        <sd-calc-row #bioavailabilityCriticalStudyRow>
          <ng-template sdCalcRowLabel sdCalcRowLabelFor="bioavailabilityCriticalStudy">
            {{bioavailabilityCriticalStudy.label}}
          </ng-template>
          <ng-template sdCalcRowInput>
            <input
              [ngClass]="{'form-control': true, 'output': bioavailabilityCriticalStudy.isMarkedAsOutput()}"
              id="bioavailabilityCriticalStudy"
              sdInputPosNumLeft
              (input)="bcfForm.calculate()"
              [readonly]="bioavailabilityCriticalStudy.isMarkedAsOutput()"
              [(ngModel)]="bioavailabilityCriticalStudy.value"
              [ngModelOptions]="{standalone: true}"
              #bioavailabilityCriticalStudyInput
              />
          </ng-template>
          <ng-template sdCalcRowHelp>
            This is the % bioavailability from the study from which the No/Low Effect level or point of departure is derived. The user should have a high degree of certainty for this value before using this correction because overestimation of this value is not a conservative assumption. An example of how different assumptions in the % bioavailability for the critical study route can impact the PDE can be found <a target="_blank" href="examples">here</a>.
          </ng-template>
        </sd-calc-row>
        <sd-calc-row #alphaRow>
          <ng-template sdCalcRowLabel sdCalcRowLabelFor="alpha">
            {{alpha.label}}
          </ng-template>
          <ng-template sdCalcRowInput>
            <input
              [ngClass]="{'form-control': true, 'output': alpha.isMarkedAsOutput()}"
              id="alpha"
              sdInputPosNumLeft
              (input)="bcfForm.calculate()"
              [readonly]="alpha.isMarkedAsOutput()"
              [(ngModel)]="alpha.value"
              [ngModelOptions]="{standalone: true}"
              #alphaInput
              />
          </ng-template>
          <ng-template sdCalcRowHelp>
            Alpha or BCF is the bioavailability correction factor. This factor is applied when the route of administration of the critical study is different from the route of exposure to which the PDE applies. Note that application of BCF is not considered appropriate if the critical effect may be different between the route of exposure to which the PDE applies as compared to the route of exposure from the critical study. For example, a site-of-contact critical effect may be more concentration dependent rather than total dose dependent, and a BCF would not account for this.
          </ng-template>
        </sd-calc-row>
        <sd-internal-calc-error [errorText]="bcfForm.internalError"></sd-internal-calc-error>
        <div class="form-group form-row ml-0 mb-0">
          <button class="btn btn-primary mr-3" (click)="bcfForm.calculateAndLog(calculationLog)" [disabled]="bcfForm.internalError">Convert!</button>
          <button class="btn btn-secondary mr-4" (click)="bcfForm.clear()">Clear</button>
          <button class="btn btn-link" (click)="calculationLog.scrollIntoView()" *ngIf="!calculationLog.empty()">See calculation log!</button>
        </div>
      </form>
    </div>
    <div class="border-top card-header">
      Live view of the equation used in this calculation:
    </div>
    <div class="card-body text-center" [sdKatexInline]="true" [sdKatex]="bcfForm.equationSnippet">
    </div>
  </div>
  <sd-calculation-log #calculationLog></sd-calculation-log>
</div>
