<div class="mx-auto container">
  <div class="card border-dark w-100 my-5">
    <div class="card-body">
      <h1 class="card-text display-4">
        Terms of Use
      </h1>
      <p class="card-text">These calculators are provided to you solely for the purposes of beta testing. By clicking on the button below, you agree not to use it for professional or personal purposes, OR to share it with anyone.</p>
    </div>
    <div class="card-footer text-center border-dark">
      <a [routerLink]="'landing'" class="btn btn-danger">Yes, I accept the terms</a>
    </div>
  </div>
</div>
