<header>
  <div class="fluid-container">
    <nav>
      <div class="d-flex px-3 py-3 justify-content-center">
        <div class="mr-3">
          <img src="assets/safedose.svg" width="237" height="56">
        </div>
        <ul class="nav">
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/">Home</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/our-services">Our Services</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/about">About Us</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/platform">Our Platform</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/contact">Contact Us</a>
        </li>
        <li class="nav-item ml-3 align-self-center active">
          <a routerLink="/">Free Calculators</a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="p-2">
  <div class="mx-auto text-muted text-center">© 2018 by SafeDose™ Ltd.</div>
</footer>
