<header>
  <div class="fluid-container">
    <nav>
      <div class="d-flex px-3 py-3 justify-content-center">
        <div class="mr-3">
          <img src="assets/safedose.84249d4dc9eaa9f6acb3.svg" width="237" height="56">
        </div>
        <ul class="nav">
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/">Home</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/our-services">Our Services</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/about">About Us</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/platform">Our Platform</a>
        </li>
        <li class="nav-item mx-3 align-self-center">
          <a href="https://www.safedoseltd.com/contact">Contact Us</a>
        </li>
        <li class="nav-item ml-3 align-self-center active">
          <a routerLink="/">Free Calculators</a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="mt-2">
  <div class="border-top border-bottom p-2 fluid-container text-muted bg-light">
    <p>Calculators are being provided for information purposes only and are not a replacement for manual calculation and confirmation of the results rendered therefrom. As each case may be influenced by a series of different contextual and situational specific factors, the results rendered may not cover all aspects of your particular situation. SafeDose Ltd. assumes no responsibility for any errors or omissions within or as a result of the use of the calculators. The formulae used within this calculator may change at any time without notice.</p>
    <p>SafeDose Ltd. makes no representation or warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, accuracy or efficacy of the calculator and its results. In no event shall SafeDose Ltd. be liable for any claim, damages, injury, death, loss or other liability, whether in contract, negligence, tort or otherwise, arising from, out of or in connection with the calculator or the use of or other dealings with the calculator.</p>
    <p>SafeDose Ltd. does not retain any of the data entered into the calculator.</p>
  </div>
  <div class="p-2 text-center text-muted">
    © 2018 by SafeDose™ Ltd.
  </div>
</footer>
