/* ToxCalc! by Safe Dose © 2018-2021. See LICENSE file for details.
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.nav-item a {
  color: #858585;
  transition: color 0.4s ease 0s;
}
.nav-item a:hover {
  color: #000000;
  text-decoration: none;
}
.nav-item.active a {
  color: #3B58B8;
}
