<div class="form-group form-row">
  <label class="col-2 col-form-label" [for]="label.for"><ng-template [ngTemplateOutlet]="label.templateRef"></ng-template></label>
  <div class="col-10 d-flex align-items-center">
    <div class="form-inline">
      <div class="input-group">
        <ng-template [ngTemplateOutlet]="input.templateRef"></ng-template>
        <div class="invalid-tooltip" id="error" style="display: block" *ngIf="errorText">
          {{errorText}}
        </div>
      </div>
      <button type="button" class="btn ml-3" (click)="showHelp = !showHelp" aria-controls="help" aria-label="Help" aria-haspopup="true" [attr.aria-expanded]="showHelp">
        <fa-icon [icon]="['fas', 'question-circle']"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="form-row" id="help" *ngIf="showHelp">
  <div class="col-12 mb-3">
    <div class="shadow-sm p-3 bg-light">
      <ng-template [ngTemplateOutlet]="help.templateRef"></ng-template>
    </div>
  </div>
</div>
