<form autocomplete="off" novalidate [formGroup]="inhalationForm">
    <b>All calculations are for a temperature of 25 degrees Celsius and 1 atmosphere of pressure (STP)</b>
    <div>
        <label for="concen">Concentration: </label>
        <input
          type="number"
          id="concen"
          formControlName="concen"
          />
        <select formControlName="concenUnits">
            <option *ngFor="let ratio of concenUnitsOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div *ngIf="molarMassNeeded.required">
        <label for="molarMass">Molar Mass of Substance: </label>
        <input
          type="number"
          id="molarMass"
          formControlName="molarMass"
          /> g/mol
    </div>
    <div>
        <label for="intake">Intake Rate: </label>
        <input
          type="number"
          id="intake"
          formControlName="intake"
          />
        <select formControlName="intakeUnits">
            <option *ngFor="let ratio of intakeUnitsOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div>
        <label for="weight">Body Weight: </label>
        <input
          type="number"
          id="weight"
          formControlName="weight"
          /> 
        <select formControlName="weightUnits">
            <option *ngFor="let ratio of weightUnitsOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div>
        <label for="dose">Dose: </label>
        <input
          type="number"
          id="dose"
          formControlName="dose"
          />
        <select formControlName="doseUnits">
            <option *ngFor="let ratio of doseUnitsOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div>
        <button (click)="calculate()">Calculate!</button>
        <button (click)="clear()">Clear</button>
    </div>
</form>
