<div class="mx-auto container">
  <a class="card mb-2 bg-white text-reset" *ngFor="let item of items" [routerLink]="item.routerLink">
    <div class="card-body">
      <p class="card-title lead" style="font-size: 1.75rem">
        <b>
          <a [routerLink]="item.routerLink">
            <ng-template [ngTemplateOutlet]="item.title?.templateRef"></ng-template>
          </a>
        </b>
      </p>
      <p>
        <ng-template [ngTemplateOutlet]="item.description?.templateRef"></ng-template>
      </p>
    </div>
  </a>
</div>
