<div class="container m-3">
  <div class="row border rounded mb-2 bg-white" *ngFor="let item of items">
    <div class="col-3 align-middle m-auto p-3">
      <a class="lead" routerLink="{{ item.routerLink }}">
        <b>
          <ng-template [ngTemplateOutlet]="item.title?.templateRef"></ng-template>
        </b>
      </a>
    </div>
    <div class="col-9 col-sm-7 align-middle m-auto p-3">
      <ng-template [ngTemplateOutlet]="item.description?.templateRef"></ng-template>
    </div>
    <a class="col-sm-2 p-3 justify-content-center align-items-center border-left d-none d-sm-flex" routerLink="{{ item.routerLink }}">
      <h1>›</h1>
    </a>
  </div>
</div>
