<form autocomplete="off" novalidate [formGroup]="ingestionForm">
    <div>
        <label for="concen">Concentration: </label>
        <input
          type="number"
          id="concen"
          formControlName="concen"
          />
        <label for="concenUnitType">Base measurement: </label>
        <select formControlName="concenUnitsType" id="ConcenUnitType" (change)="onBaseChange($event)">
            <option *ngFor="let option of concenUnitsTypeOptions" [value]="option">
                {{option}}
            </option>
        </select>
        <select formControlName="concenUnitsMassVol" *ngIf="ingestionForm.get('concenUnitsType').value === 'mass/volume'">
            <option *ngFor="let ratio of concenUnitsMassVolOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
        <select formControlName="concenUnitsVolVol" *ngIf="ingestionForm.get('concenUnitsType').value === 'volume/volume'">
            <option *ngFor="let ratio of concenUnitsVolVolOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
        <select formControlName="concenUnitsMolVol" *ngIf="ingestionForm.get('concenUnitsType').value === 'mol/volume'">
            <option *ngFor="let ratio of concenUnitsMolVolOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
        <select formControlName="concenUnitsMolMass" *ngIf="ingestionForm.get('concenUnitsType').value === 'mol/mass'">
            <option *ngFor="let ratio of concenUnitsMolMassOptions" [ngValue="ratio">
                {{ratio.units}}
            </option>
        </select>
        <select formControlName="concenUnitsMassMass" *ngIf="ingestionForm.get('concenUnitsType').value === 'mass/mass'">
            <option *ngFor="let ratio of concenUnitsMassMassOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div *ngIf="ingestionForm.get('concen').hasError('invalidNegative')">Negative numbers not permitted!</div>
    <div>
        <label for="intake">Intake: </label>
        <input
          type="number"
          id="intake"
          formControlName="intake"
          />
        <select formControlName="intakeUnitsType" (change)="onBaseChange($event)">
            <option *ngFor="let option of intakeUnitsTypeOptions" [value]="option">
                {{option}}
            </option>
        </select>
        <select *ngIf="this.ingestionForm.get('intakeUnitsType').value === 'volume/time'" formControlName="intakeUnitsVolTime">
            <option *ngFor="let ratio of intakeUnitsVolTimeOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
        <select *ngIf="this.ingestionForm.get('intakeUnitsType').value === 'mass/time'" formControlName="intakeUnitsMassTime">
            <option *ngFor="let ratio of intakeUnitsMassTimeOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <!--TODO: bind unit type to boolean/enum in ts file when selection is changed-->
    <div *ngIf="substanceDensityNeeded.required">
        <label for="substanceDensity">Substance density: </label>
        <input type="number" id="substanceDensity" formControlName="substanceDensity" /> g/mL
    </div>
    <div *ngIf="molarMassNeeded.required">
        <label for="molarMass">Molar mass of substance: </label>
        <input type="number" id="molarMass" formControlName="molarMass" /> g/mol
    </div>
    <div *ngIf="solutionDensityNeeded.required">
        <label for="solutionDensity">Density of the entire solution: </label>
        <input type="number" id="solutionDensity" formControlName="solutionDensity" /> g/mL
    </div>
    <div>
        <label for="weight">Body Weight: </label>
        <input
          type="number"
          id="weight"
          formControlName="weight"
          />
        <select formControlName="weightUnits">
            <option *ngFor="let ratio of weightUnitsOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div>
        <label for="dose">Dose: </label>
        <input
          type="number"
          id="dose"
          formControlName="dose"
          />
        <select formControlName="doseUnits" (change)="onBaseChange($event)">
            <option *ngFor="let ratio of doseUnitsOptions" [ngValue]="ratio">
                {{ratio.units}}
            </option>
        </select>
    </div>
    <div>
        <button (click)="calculate()" [disabled]="!ingestionForm.valid">Calculate!</button>
        <button (click)="clear()">Clear</button>
    </div>
</form>
