<sd-return-to-calculators></sd-return-to-calculators>
<div class="container py-3">
<h5>Disclaimer</h5>
<p>Calculators are being provided for information purposes only and may not cover aspects of your particular situation. SafeDose Ltd. assumes no responsibility for any errors or omissions within the calculators. The formulae used within this calculator may change at any time without notice.</p>
<p>SafeDose Ltd. makes no representation or warranty of any kind, express or implied, including but not limited to the warranties of merchantability and fitness for a particular purpose. In no event shall SafeDose Ltd. be liable for any claim, damages or other liability, whether in an action of a contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.</p>
<p>SafeDose Ltd. does not retain any of the data entered into the calculator.</p>
</div>
